<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>test</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usersoftech</servlet-name>
        <jsp-file>/usersoftech.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersoftech</servlet-name>
        <url-pattern>/usersoftech</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SQLError</servlet-name>
        <jsp-file>/SQLError.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SQLError</servlet-name>
        <url-pattern>/SQLError</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usertech</servlet-name>
        <jsp-file>/usertecht.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usertech</servlet-name>
        <url-pattern>/usertech</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>technolist</servlet-name>
        <jsp-file>/technolist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>technolist</servlet-name>
        <url-pattern>/technolist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userlist</servlet-name>
        <jsp-file>/userlist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userlist</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adduser</servlet-name>
        <jsp-file>/adduser.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addtech</servlet-name>
        <jsp-file>/addtech.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addtech</servlet-name>
        <url-pattern>/addtech</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>emtyfield</servlet-name>
        <jsp-file>/emtyfield.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>emtyfield</servlet-name>
        <url-pattern>/emtyfield</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userinfo</servlet-name>
        <jsp-file>/userinfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userinfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userbyid</servlet-name>
        <jsp-file>/userbyid.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userbyid</servlet-name>
        <url-pattern>/userbyid</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>AddUser</display-name>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>ru.dolgiy.controller.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>UserByID</display-name>
        <servlet-name>UserByID</servlet-name>
        <servlet-class>ru.dolgiy.controller.UserByID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserByID</servlet-name>
        <url-pattern>/UserByID</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>UpdateUser</display-name>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>ru.dolgiy.controller.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>DeleteUser</display-name>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>ru.dolgiy.controller.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>GetAllTechnologies</display-name>
    <servlet-name>GetAllTechnologies</servlet-name>
    <servlet-class>ru.dolgiy.controller.GetAllTechnologies</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>GetAllTechnologies</servlet-name>
        <url-pattern>/getalltech</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>GetAllUsers</display-name>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>ru.dolgiy.controller.GetAllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/getallusers</url-pattern>
    </servlet-mapping>

    <servlet>
    <description></description>
    <display-name>GetUsersTechByID</display-name>
    <servlet-name>GetUsersTechByID</servlet-name>
    <servlet-class>ru.dolgiy.controller.GetUsersTechByID</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>GetUsersTechByID</servlet-name>
        <url-pattern>/GetUsersTechByID</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>AddUserSkill</display-name>
        <servlet-name>AddUserSkill</servlet-name>
        <servlet-class>ru.dolgiy.controller.AddUserSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserSkill</servlet-name>
        <url-pattern>/AddUserSkill</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>DelUserSkill</display-name>
        <servlet-name>DelUserSkill</servlet-name>
        <servlet-class>ru.dolgiy.controller.DelUserSkill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelUserSkill</servlet-name>
        <url-pattern>/DelUserSkill</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>DeleteTech</display-name>
        <servlet-name>DeleteTech</servlet-name>
        <servlet-class>ru.dolgiy.controller.DeleteTech</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTech</servlet-name>
        <url-pattern>/DeleteTech</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>AddTech</display-name>
        <servlet-name>AddTech</servlet-name>
        <servlet-class>ru.dolgiy.controller.AddTech</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTech</servlet-name>
        <url-pattern>/AddTech</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>GetUsersByTechID</display-name>
        <servlet-name>GetUsersByTechID</servlet-name>
        <servlet-class>ru.dolgiy.controller.GetUsersByTechID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersByTechID</servlet-name>
        <url-pattern>/GetUsersByTechID</url-pattern>
    </servlet-mapping>

</web-app>
